.container {
    position: static;
    width: 100%;
    font-family: 'Merriweather', serif;
    height: 100%;
    display: flex;
    flex-direction: column; /* This will stack children vertically */
    justify-content: center;
    align-items: center;
    text-align: center; /* Center the text for all child elements */
}
.links {
    margin-top: 20px; /* Adjust the value as needed for spacing */
}
.link {
    color: black; /* Or any other color that fits the design */
    text-decoration: none; /* Removes underline from links */
    font-size: 2vw; /* Adjust as needed for the right size */
    margin: 0 10px; /* Spacing between the links */
    font-weight: 400;
    text-transform: uppercase;
    padding: 10px; /* Add padding for clickable area */
    border: 2px solid transparent; /* Adjust color and style as needed */
    transition: all 0.3s ease; /* Smooth transition for hover effects */
}

.link:hover {
    background-color: #e80202; /* Example hover effect */
    color: white; /* Change text color on hover */
    border-color: #e80202; /* Example border color on hover */
}
h2{
    color: black;
    text-align: center;
    font-size: 4vw;
    line-height: 0.6em;
    z-index: 1000;
    font-weight: 900;
}
h2 span{
    font-size: 0.4em;
    letter-spacing: 0.4em;
    font-weight: 400;
    text-transform: uppercase;
}
.block{
    position: absolute;
    width: 50px;
    height: 100px;
    z-index:-100;
    background: #e80202;
    box-shadow: 10px 10px 50px rgba(0,0,0,0.2);
}


  
.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-family: 'Merriweather', serif;

    gap: 20px; /* Adjust the gap between cards */
    max-width: 960px; /* This should be three times the card width plus the gap. */
    margin: 0 auto; /* Center the card container */
  }
  
  p-card {
    font-family: 'Merriweather', serif;
    flex: 0 0 calc(33.333% - 20px); 
    margin-bottom: 20px; 
  }
  
  
