<div class="container">
  <div class="header-icons">
    <a href="https://www.linkedin.com/in/mshanfermajeed/" target="_blank"  class="transparent-button" pButton pRipple>
      <i class="pi pi-linkedin"></i>
    </a>
    <a href="https://github.com/shanfer1" target="_blank"  class="transparent-button" pButton pRipple>
      <i class="pi pi-github"></i>
    </a>
    <a href="https://twitter.com/shanfer_majeed" target="_blank"  class="transparent-button" pButton pRipple>
      <i class="pi pi-twitter"></i>
    </a>
    <span class="contact-info">
      <i class="pi pi-envelope"></i> mmajeed2&#64;asu.edu
    </span>
  </div>


  <h2>Muhammed Shanfer Majeed<br><span>Sofware Developer</span></h2>
  <div class="links">
    <a href="#projects" class="link">Projects</a>
    <a href="https://waterdmd.info/mainpage.html" target="_blank" class="link">Research</a>
    <a href="./assets/resume.pdf" class="link" download="MuhammedShanferMajeed_Resume">Resume</a>
  </div>
  <h3 class="experience-heading">Experience</h3>

  <div class="card-container">
    <p-card header="{{experience.title}}"   subheader="{{experience.subHeading}}"  *ngFor="let experience of experiences">
      <ng-template pTemplate="header">
          <img alt="Card" src="{{experience.url}}" />
      </ng-template>
      <p>
        
        {{experience.period}}
    </p>
      <p>
        
          {{experience.description}}
      </p>
      <div *ngIf="experience.products" class="product-buttons">
      <button *ngFor="let productKey of objectKeys(experience.products)" 
              pButton type="button" 
              label="{{productKey}}" 
              (click)="openProduct(experience.products[productKey])" 
              class="p-button-success productbuttons"> <i class="pi pi-send" style="font-size: 1rem"></i>
            </button>
    </div>
      <p class="techstack">
        
        Tech Stack : {{experience.tech}}
    </p>
     
  </p-card>
  </div>

  <h3 class="experience-heading">Education</h3>
<div class="card-container">
  <p-card header="{{edu.school}}" subheader="{{edu.degree}}" *ngFor="let edu of education">
    <ng-template pTemplate="header">
      <img alt="Card" src="{{edu.url}}" />
    </ng-template>
    <p>{{edu.period}}</p>
    <p>{{edu.description}}</p>
    <button pButton type="button" label="Download Transcript" class="p-button-success" (click)="downloadTranscript(edu.transcriptUrl)"></button>

  </p-card> 
</div>


  <div class="block" *ngFor="let i of blockNumber"></div>
</div>
