
.header-icons {
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    align-items: center;
  }
  
  .header-icons a {
    margin-left: 10px;
    color: #333; /* Icon color */
  }
  
  .header-icons .contact-info {
    margin-left: 10px;
    color: #1a335c; /* Text color */
    display: flex;
    align-items: center;
  }
  
  .header-icons i {
    margin-right: 5px; /* Space between icon and text */
  }
  
  /* Styling for the PrimeNG buttons to make them look like plain icons */
  .p-button {
    background: transparent;
    border: 0;
    box-shadow: none;
    color: inherit;
  }
  
  .p-button .pi {
    font-size: 1.5em; /* Icon size */
  }
.container {
    position: static;
    width: 100%;
    font-family: 'Merriweather', serif;
    height: 100%;
    display: flex;
    flex-direction: column; /* This will stack children vertically */
    justify-content: center;
    align-items: center;
    text-align: center; /* Center the text for all child elements */
}
.links {
    margin-top: 20px; /* Adjust the value as needed for spacing */
}
.techstack{
    font-weight: bold; /* Makes the text bold */
  font-style: italic; 
}

.link {
    color:  #1a335c; /* Text color, adjust as needed */
    text-decoration: none; /* Removes underline from links */
    font-size: 1.5vw; /* Adjust as needed for the right size */
    margin: 0 10px; /* Spacing between the links */
    font-weight: 400;
    text-transform: uppercase;
    padding: 10px; /* Add padding for clickable area */
    border: 2px solid transparent; /* Adjust color and style as needed */
    transition: all 0.3s ease; /* Smooth transition for hover effects */
}

.product-buttons {
    display: flex;
    justify-content: space-between; /* This will add space between your buttons */
    margin-top: 10px; /* Adjust the margin as needed */
  }
  
  .product-buttons button {
    margin-right: 10px; /* Adds space between buttons */
    transition: all 0.3s ease; /* Smooth transition for hover effects */

  }
  
  /* Remove margin from the last button */
  .product-buttons button:last-child {
    margin-right: 0;
  }

  .p-button:hover {
    background-color:  #1a335c;; /* Example hover effect */
    color: white; /* Change text color on hover */
    border-color: #1a335c;; /* Example border color on hover */
}

.product-buttons button:hover {
    background-color:  #1a335c;; /* Example hover effect */
    color: white; /* Change text color on hover */
    border-color: #1a335c;; /* Example border color on hover */
}
h2{
    color:  #1a335c;; /* Text color, adjust as needed */
    text-align: center;
    font-size: 3vw;
    line-height: 0.6em;
    z-index: 1000;
    font-weight: 700;
}
h2 span{
    font-size: 0.4em;
    letter-spacing: 0.4em;
    font-weight: 400;
    text-transform: uppercase;
}
@media (max-width: 1024px) {
    p-card {
      flex: 0 0 calc(50% - 40px); /* Two cards per row on medium screens */
    }
  }

  @media (max-width: 768px) {
    p-card {
      flex: 0 0 100%; /* One card per row on small screens */
    }
  }
.block{
    position: absolute;
    width: 50px;
    height: 50px;
    z-index:-100;
    background: #e9e5a6;
    box-shadow: 10px 10px 50px rgba(95, 94, 94, 0.2);
}
.link:hover {
    background-color:  #1a335c;; /* Example hover effect */
    color: white; /* Change text color on hover */
    border-color: #1a335c;; /* Example border color on hover */
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; /* This will space out the cards evenly */
    align-items: stretch; /* This will ensure that all cards stretch to fill the container's height */
    max-width: 1200px; /* This should be the total width of the three cards plus the gaps. Adjust as necessary. */
    margin: 0 auto; /* Center the card container */
    gap: 20px; /* Adjust the gap between cards */
  }
  
  p-card {
    flex: 0 0 calc(33.333% - 40px); /* Subtract the total gap from the width (20px gap on each side of a card) */
    box-sizing: border-box; /* This ensures padding and border are included in the width calculation */
  }
  .productbuttons{
    font-size: 15px;
    /* font-size: bold; */
  }
  .experience-heading {
    color:  #1a335c;; /* Text color, adjust as needed */
    margin-top: 60px; /* Adds space above the heading */
    margin-bottom: 20px; /* Adds space below the heading before the cards start */
    font-family: 'Merriweather', serif; /* Keeps font consistent with the container */
    font-size: 3vw; /* Responsive font size, adjust as needed */
    font-weight: 700; /* Makes the heading bold */
    margin-left: 40px;
  }
  @media (max-width: 768px) {
    .experience-heading {
      font-size: 5vw; /* Adjusts font size for smaller screens */
    }
  }
  
  
  
